*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 22px;
    font-family: sans-serif;
}

body{
    background-color: papayawhip;
    color: black;
}

h2{
    font-size: large;
    color: black;
}


fieldset{
    background-color: rgba(255, 124, 124, 0.342);
}

header{
    text-align: center;
    
}